<nav id="sidebar-nav-links">
    <ul>
{%- assign side_links = site.pages | where_exp:"item","item.sidebar_order > 0" | concat: site.side_links | sort: 'sidebar_order' -%}
{%- for node in side_links -%}
{%- if node.title != null -%}
{%- if node.url == page.url %}{% assign active = true %}{% else %}{% assign active = false %}{% endif -%}
{% if active == false %}<a href="{{ node.url }}">{% endif %}<li class="page-link{% if active %} active{% endif %}">{{ node.title }}</li>{% if active == false %}</a>{% endif %}
{%- endif -%}
{%- endfor -%}
    </ul>
</nav>
