<div id="sidebar">
    <div class="stretch"></div>
  <input type="checkbox" id="hamburger-button" />
  <header>
   <div class="title-line">
    <h1 class="site-title">
      {%- unless page.is_main_page -%}
      <a href="{{ site.baseurl }}/">
      {%- endunless -%}
        {{ site.title }}
      {%- unless page.is_main_page -%}
      </a>
      {%- endunless -%}
    </h1>
    <div class="hamburger-icon">
        <label for="hamburger-button"><span class="open"></span><span class="close"></span></label>
    </div>
   </div>
   <p class="lead">{{ site.description }}</p>
  {%- if site.version -%}
   <p class="site-version">Current version is {{ site.version }}</p>
  {%- endif -%}
  </header>
{%- include sidebar-nav-links.html -%}
{%- include sidebar-icon-links.html -%}
{%- include copyright.html -%}
</div>
